:root {
    --clr-accent-300: #711F8D;
    --clr-accent-200: #A818DA;
    --clr-accent-100: #672280;


    --clr-neutral-100: #ffffff;
    --clr-neutral-200: #D5D4D8;

    --ff-primary: "Karla", sans-serif;
    --ff-seconday: impact, sans-serif;
  }


* {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    margin: 0;
}

main {
    padding: 36px;
}

/***Header***/
.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, var(--clr-accent-100) 1.18%, var(--clr-accent-200) 100%);
    color: white;
    padding: 20px;
}

.header__image {
    height: 100%;
    margin-right: 6px;
}

.header__title {
    font-size: 20px;
    margin-right: auto;
}


/***Form***/
.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
    margin-bottom: 17px;
}

.form__input {
    font-family: var(--ff-primary);
    border-radius: 5px;
    border: 1px solid var(--clr-neutral-200);
    text-indent: 5px;
}

.form__button {
    grid-column: 1/-1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, var(--clr-accent-300) 1.14%, var(--clr-accent-200) 100%);
    color: var(--clr-neutral-100);
    border: none;
    cursor: pointer;
}


/***Meme***/
.meme {
    position: relative;
    display: flex;
    justify-content: center;
}

.meme__image {
    width: 600px;
    max-width: 100%;
    border-radius: 3px;
}

.meme__text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: var(--ff-seconday);
    font-size: 36px;
    text-transform: uppercase;
    color: var(--clr-neutral-100);
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}

